OMS_BASE_URL=https://omsv2-staging.example.com
OMS_IAM_BASE_URL=https://id-staging.example.com
OMS_IAM_CLIENT_ID=<client_id>
OMS_TENANT_ID=<tenant_id>
OMS_MERCHANT_NO=<merchant_no>
OMS_USERNAME=<username>
OMS_PASSWORD=<password>
